name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    name: ${{ matrix.os }} - ${{ matrix.build_type }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        build_type: [Debug, ReleaseFast]

    steps:
    - uses: actions/checkout@v4
    - uses: mlugg/setup-zig@v2

    - name: Build
      run: zig build -Doptimize=${{ matrix.build_type }}

    - name: Run Tests
      run: zig build test -Doptimize=${{ matrix.build_type }}
